.acf-field-hidden, .acf-field-latest-posts, .acf-field-id, .acf-field-children{ display: none; }
.acf-field .acf-label:empty{ display: none }

.acf-tag-selector{ position: absolute; right: 0; bottom: 100%; margin-bottom: 6px; width: auto }
.acf-tag-selector select{ width: auto!important; padding: 0 8px!important; padding-right: 30px!important; min-height: 20px; font-size: 11px!important; }

.acf-instagram_post img{ width: 150px; height: 150px; object-fit: cover; margin-top: 5px }

.acf-field.acf-field-flexible-content{ padding-top: 30px!important }
.acf-flexible-preview-wrapper{ position: relative; cursor: pointer }
.wp-core-ui .acf-flexible-preview-edit.button{
    padding: 0; width: 32px; height: 32px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;
    position: absolute; left: 50%; top: 50%; margin-left: -16px; margin-top: -16px;
}

.acf-fc-layout-title{ width: 100% }
.acf-component-title{ display: inline-block; vertical-align: middle }
.acf-component-preview-title{ white-space: nowrap; overflow: hidden; width: 50%; text-overflow: ellipsis; display: inline-block; vertical-align: middle; margin-left: 0.4em }

#side-sortables .acf-fields>.acf-field{ width: 100%!important; }

.acf-input .char-count{ position: absolute; right: 0; bottom: 100%; font-size: 11px; margin-bottom: 3px }
.acf-input .char-count span{ opacity: 0.6 }
.acf-input .char-count .count--more{ color: darkred; font-weight: bold; opacity: 1 }

.acf-input-inline-editor{
    border: 1px solid #8c8f94; background-color: #fff; color: #2c3338; min-height: 30px; padding: 5px 8px;
    line-height: 1.4em; box-shadow: 0 0 0 transparent; border-radius: 4px; font-size: 13px;
}

.acf-input-inline-editor a{ text-decoration: underline; color: var(--wp-admin-theme-color); }
.acf-input-inline-editor sub{ vertical-align: revert }
.acf-input-inline-editor sup{ vertical-align: revert }

.field-type-icon.field-type-icon-dynamic-select:before {
    -webkit-mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-select.svg);
    mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-select.svg);
}

.field-type-icon.field-type-icon-menu:before {
    -webkit-mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-taxonomy.svg);
    mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-taxonomy.svg);
}

.field-type-icon.field-type-icon-inline-editor:before {
    -webkit-mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-wysiwyg.svg);
    mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-wysiwyg.svg);
}

.field-type-icon.field-type-icon-component:before {
    -webkit-mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-clone.svg);
    mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-clone.svg);
}

.field-type-icon.field-type-icon-components:before {
    -webkit-mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-flexible-content.svg);
    mask-image: url(../../advanced-custom-fields-pro/assets/images/field-type-icons/icon-field-flexible-content.svg);
}
