.acf-field-hidden, .acf-field-latest-posts, .acf-field-id{ display: none; }
.acf-field .acf-label:empty{ display: none }
.acf-tag-selector{ position: absolute; right: 0; bottom: 100%; width: auto; margin-bottom: 6px }
.acf-tag-selector select{ width: auto!important; padding: 0 8px!important; padding-right: 30px!important; min-height: 22px; font-size: 11px!important; }

.acf-instagram_post img{ width: 150px; height: 150px; object-fit: cover; margin-top: 5px }
