.acf-fc-layout-handle .thumbnail{
    position: relative; display: inline-block; width: 36px; margin-right: 15px; height: 15px; margin-bottom: -10px; cursor: zoom-in;
}

.acf-fc-layout-handle .thumbnail .small{
    position: absolute; left: 0; bottom: 0; width: 100%; border: 1px solid #ddd; padding: 3px; background: #fff;
}

.acf-fc-layout-handle .thumbnail .large{
    position: absolute; left: 0; bottom: 0; pointer-events: none; display: none; transform: translateY(50%); z-index: 999;
    border: 1px solid #ddd; padding: 5px; background: #fff; max-width: 60vw; height: auto; box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.acf-fc-layout-handle .thumbnail:hover .large{ display: block }
